<!-- link to the bookings#indexpage in the navbar. -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <!-- link to the bookings#indexpage in the navbar. -->

      <h1>Make a Reservation</h1>
        <%= simple_form_for [@desk, @booking] do |f| %>
        <h2><%= @desk.title %></h2> for <h1>$<%= @desk.price %></h1>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
