

<div id="show-desk-container" class="show-container">
  <div class="show-row">
    <div class="col-sm">


      <div class="show-card">
        <div class="show-image"></div>
         <% if @booking.desk.photo.attached? %>
             <%= cl_image_tag(@booking.desk.photo.key,
        width: 750, height: 400, crop: :fill) %>
         <% else %>
            <%= image_tag 'Placeholder_image', class: 'placeholder'%>
        <% end %>

        <div class="show-text">
          <div class="show-border">
           <h2 class="show-desk-title"><%= @booking.desk.title %></h2>
            <h3>€ -&#160;<%= @booking.desk.price %> /day</h3>
            <h4><em><i class="fas fa-map-marker-alt"></i> -&#160;<%= @booking.desk.location %></em></h4>
            <h4><i class="fas fa-chair"></i> -&#160;<%= pluralize @booking.desk.seats, "seat" %></h4>
          </div>
          <h5 id="p">Booked <%= @booking.desk.start_date.strftime("%m/%d/%y") %> to <%= @booking.desk.end_date.strftime("%m/%d/%y") %></h5
        </div>
      </div>
        </div>
  </div>
</div>
