<div class="navbar">
  <%= link_to(image_tag("nav_logo.png", size: "50x50"), desks_path) %>
  <ul class="ul-navbar">
    <li class="li-navbar"><%= link_to 'add a desk', new_desk_path%></li>
    <li class="li-navbar"><%= link_to 'explore', desks_path%></li>
    <% if current_user %>
      <li class="li-navbar"><%= link_to 'my bookings', bookings_path %></li>
      <li class="li-navbar"><%= link_to 'sign out', destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li class="li-navbar"><%= link_to 'sign up', new_user_registration_path%></li>
      <li class="li-navbar"><%= link_to 'login', new_user_session_path%></li>
    <% end %>
  </ul>
</div>
