<div class="navbar">
  <%= image_tag "nav_logo.png", size: "50x50" %>
  <ul class="ul-navbar">
    <li class="li-navbar"><%= link_to 'explore', desks_path%></li>
    <% if current_user %>
      <li class="li-navbar"><%= link_to 'sign out', destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li class="li-navbar"><%= link_to 'sign up', new_user_registration_path%></li>
      <li class="li-navbar"><%= link_to 'login', new_user_session_path%></li>
    <% end %>
    <li class="li-navbar"><a href="about.asp">about</a></li>
    <input class="search-container" type="text" placeholder="Search...">
  </ul>
</div>

