<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.pinimg.com/originals/17/5e/da/175eda03beec29af20dfc40a38e5ac68.jpg);">
  <div class="container">
    <h1>Air<strong>BRB</strong>, the solution to everything...</h1>
  </div>
</div>

<div class="container">
  <%= link_to 'add a desk now', new_desk_path, class: "btn btn-outline-success" %>
</div>

<div class="row">
  <div class="col-8">

  <% @desks.each do |desk| %>
  <div class="card-product">
    <% if desk.photo.attached? %>
    <%= cl_image_tag(desk.photo.key) %>
    <% else %>
    <%= image_tag "Placeholder_image"%>
    <% end %>
    <div class="card-product-infos">
      <h2><%= link_to desk.title, desk_path(desk), class:"link-to-card-product"%></h2>
      <p>$<%= desk.price %> <strong>per day</strong></p>
    </div>
  </div>
  <% end %>
  </div>

<div class="col-4">
    <div id="map"
    style="width: 100%; height: 500px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>
