<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.pinimg.com/originals/17/5e/da/175eda03beec29af20dfc40a38e5ac68.jpg);">
  <div class="container">
    <h1>air<strong>BRB</strong></h1>
  </div>
</div>

<div class="container">
  <%= link_to 'add a desk now', new_desk_path, class: "btn btn-outline-success" %>
</div>

<div class="container-homepage">
<div class="card-container">
  <% @desks.each do |desk| %>
    <div class="cards">
      <% if desk.photo.attached? %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
          url(<%= cl_image_path(desk.photo.key) %>)">
          <% else %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
            url('https://source.unsplash.com/weekly?desk')">
          <% end %>
           <h5 class="card-title"><%= link_to desk.title, desk_path(desk)%></h5>
            <p class="card-text">$<%= desk.price %></p>
            <%= link_to desk_path(desk), method: :delete, data: { confirm: "Are you sure?" } do %>
          <i class="fas fa-trash-alt" id="cards"></i>
        <% end %>
        </div>
    </div>
  <% end %>
</div>
</div>




