<div class="container">

  <div class="columns">
    <div id="map"
    style="width: 100%; height: 500px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    <h1><%= @desk.title %></h1>
    <br>
    <%= cl_image_tag(@desk.photo.key,
    width: 400, height: 300, crop: :fill) if @desk.photo.attached? %>
    <br>
    <br>
    <h2> Price per day: $<%= @desk.price %></h2>
    <h3> Address: <%= @desk.location %></h3>
    <h3><%= @desk.seats %> seats </h3>
    <h4> Available from: <%= @desk.start_date %></h4> <h4> until: <%= @desk.end_date %></h4>
    <button class="btn btn-success"> <%= link_to "Back to all desks", root_path %></button>
    <button class="btn btn-success"><%= link_to "----- Edit desk -----", edit_desk_path %></button>
    <% user = User.find(@desk.user_id) %>
    <% if user != current_user %>
    <button class="btn btn-success"> <%= link_to 'Book this desk!', new_desk_booking_path(@desk) %></button>
    <% end %>
  </div>
</div>
